<%= link_to "logout", "/logout/#{current_user.id}", method: :delete %>
<br>

<div style="display:inline-block;">
	<div>Id</div>
	<div>Name</div>
	<div>Away</div>
	<div>Structure Id</div>
	<div>RHR Enrollment</div>
	<div>ETA begin</div>
	<div>Wheres</div>
</div>

<% if @users.any? %>
	<% @users.each do |user| %>
		<p><%= link_to "to user",user_path(user["user_id"]) %></p>
		<% mystery_key = user["structures"].keys %>
		<% user["structures"][mystery_key.first].map do |nest, value| %>
			<p><%=  value  %><p>
		<% end %>
	<% end %>
<% end %>

