<%= link_to "logout", "/logout/#{current_user.id}", method: :delete %>


<p><%= link_to "to user",user_path(@user["user_id"]) %></p>
<% structure_key = @user["structures"].keys %>
<% device_key = @user["devices"].keys %>
<% @user["structures"][structure_key.first].map do |nest, value| %>
	<p><%=  value  %><p>
<% end %>
<br>
<% @user["devices"][device_key.first].map do |nest, value| %>
	<p><%=  value  %><p>
<% end %>
 