<%= link_to "logout", "/logout/#{current_user.id}", method: :delete %>


<p><%= link_to "to user",user_path(@user["user_id"]) %></p>
<% mystery_key = @user["structures"].keys %>
<% @user["structures"][mystery_key.first].map do |nest, value| %>
	<p><%=  value  %><p>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<%= @user.inspect %>





